/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Defines that 1rem by default is 10px
 */
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/**
 * Basic styles for links
 */
a {
  color: #e67e22;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #e67e22;
  text-decoration: underline;
}

/**
 * Basic typography style for copy text
 */
body {
  color: #181818;
  font: normal 125%/1.4 "Lato", "Roboto", "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1,
h2,
h3 {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  color: #f1f1f1;
  opacity: 0.9;
  font-size: 6rem;
  word-spacing: 3px;
}

h2 {
  font-size: 3rem;
  word-spacing: 2px;
  margin-bottom: 1rem;
  color: #282828;
  text-align: center;
}

h2:after {
  display: block;
  height: 2px;
  width: 10rem;
  background-color: #e67e22;
  content: "";
  margin: 0 auto;
  margin-top: 3rem;
}

h3 {
  margin-top: 1rem;
  color: #909090;
  font-size: 2rem;
  font-weight: 300;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1180px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

header {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.header-wrapper {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-wrapper .logo {
  width: auto;
  height: 10vh;
  transform: translateX(10rem);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3vw;
  height: 15vh;
}
nav ul {
  flex-basis: 38vw;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav a:link, nav a:visited {
  font-weight: 400;
  padding: 8px 0;
  color: #f1f1f1;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.2rem;
  border-bottom: 2px solid transparent;
  transition: all 0.5s;
  opacity: 0.8;
}
nav a:hover, nav a:active {
  opacity: 1;
  border-bottom: 2px solid #e67e22;
}

.text-wrapper {
  width: 50vw;
  height: 24vh;
  transform: translateX(10rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text-wrapper .btns-wrapper {
  height: 7vh;
  width: 17vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  padding: 8vh 0;
}

.features {
  height: auto;
  background-color: #f7f7f7;
}

.features__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.features__heading .long-copy {
  line-height: 3.5rem;
  font-size: 2rem;
  width: 44vw;
  color: #606060;
  margin-bottom: 2vh;
}

.features__content {
  display: flex;
  height: 40vh;
  width: 70vw;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 6rem;
}
.features__content-dispo {
  flex-direction: column;
  padding: 0 3rem;
  width: 25%;
}
.features__content-ready {
  flex-direction: column;
  padding: 0 3rem;
  width: 25%;
}
.features__content-organic {
  flex-direction: column;
  padding: 0 3rem;
  width: 25%;
}
.features__content-anything {
  flex-direction: column;
  padding: 0 3rem;
  width: 25%;
}

ion-icon {
  font-size: 64px;
  color: #e67e22;
}

p {
  margin-top: 3rem;
  line-height: 3.1rem;
  font-size: 1.8rem;
  color: #282828;
  word-spacing: 3px;
  text-align: left;
}

.favorite-meals {
  height: auto;
  padding: 0;
}

.meals-showcase {
  width: 100%;
  display: flex;
  list-style: none;
}
.meals-showcase li {
  width: 25%;
}

.meal-photo {
  width: 100%;
  overflow: hidden;
  background-color: #000;
}

.meal-photo img {
  width: 100%;
  height: auto;
  transform: scale(1.1);
  transition: all 0.3s;
  opacity: 0.7;
  cursor: pointer;
}
.meal-photo img:hover {
  transform: scale(1.03);
  opacity: 1;
}

.how-it-works {
  height: auto;
  background-color: #f7f7f7;
}

.steps-wrapper {
  width: 90vw;
  height: 50vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.iphone-container {
  width: 28vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 4vw;
}

.works-steps {
  width: 30vw;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
}
.works-steps div {
  font-size: 2rem;
  color: #606060;
}
.works-steps div span {
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  border: 2px solid #e67e22;
  color: #e67e22;
  font-size: 3rem;
  margin-right: 2rem;
  float: left;
}

.b4 {
  display: flex;
  width: 15vw;
  justify-content: space-between;
}
.b4 .btn-app img {
  height: 42px;
  width: auto;
}

.app-screen {
  width: 48%;
}

.cities {
  height: 67vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cities-images {
  width: 72vw;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.cities-images > div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cities-images > div h3 {
  padding-left: 1rem;
}
.cities-images > div img {
  width: auto;
  height: 20rem;
}

.div-icon {
  padding-left: 2rem;
  height: auto;
}

.icon-text {
  display: flex;
  align-items: center;
  height: 4.2vh;
}
.icon-text--desc {
  padding-left: 1rem;
  font-size: 1.6rem;
  color: #606060;
}

.testimonial-box {
  border: 1px solid red;
  width: 25vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.y {
  display: flex;
  justify-content: space-around;
  width: 85vw;
  height: 50vh;
  border: 1px solid green;
  margin: 0 auto;
}

cite {
  display: flex;
  align-items: center;
}
cite img {
  padding-right: 1rem;
  height: 50px;
  width: auto;
  border-radius: 50%;
}

blockquote {
  font-size: 2rem;
  color: #666;
}

.btn:link, .btn:visited {
  font-weight: 400;
  color: #f1f1f1;
  height: 4vh;
  width: 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: medium;
  text-decoration: none;
  transition: all 0.2s ease;
}
.btn:link:hover, .btn:visited:hover {
  background-color: #cf6d17;
}

.btn-full:link, .btn-full:visited {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #f1f1f1;
}

.btn-ghost:link, .btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}
.btn-ghost:hover {
  color: #f1f1f1;
}

/*# sourceMappingURL=style.css.map */
